[init]
	defaultBranch = main
[user]
	name = philFernandez
	email = norcal618@gmail.com

# Delta diff -----
[pager]
    diff = true
    branch = false
[core]
    pager = delta
[color]
    ui = true
[delta]
    line-numbers = false
# ----------------

# Kitty difftool ----
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
# -------------------

[pull]
	rebase = false
